<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>
    <div class="box_login">
        <div class="capa">

        </div>
        <h1>Faça seu Login</h1>
        <form method="POST" action="../login/login/check">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Senha">
            <button class="btn-login">Logar</button>
            {% if error != '' %}
                <span class="msg_error"><i class="fas fa-exclamation-triangle"
                        style="color: #FF6D6D; padding-right: 5px"></i>
                    <p>Tentativa inválida</p>
                </span>
            {% endif %}
        </form>
    </div>
</body>

</html>